body{
    height: 100%;

    background-image: url("assets/RandalOPti.jpg");
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}

.introHeader{
    text-align: center;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.introDiv{    
    background-color: rgba(20, 19, 19, 0.623);
    background-size: cover;
    background-position: center;
}

#tunnelRandall{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center, right;
    z-index: 1;
}

/*.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #152015;
    color: white;
  }*/

  /*.bg-img {
  background-image: url("img_nature.jpg");

  min-height: 380px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}*/

#contactDiv{    
  background-color: rgba(20, 19, 19, 0.623);
  background-size: cover;
  background-position: center;
}

#contactStuff{
  /*text-align: center;*/
  color: whitesmoke;
  background-size: cover;  
}
.container {
  position: relative;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  object-position: top, left;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#map {
  height: 400px;
  width: 50%;
  position: right;
}

#code{
  height: 100%;

    background-image: url("assets/RandalCode.jpg");
    
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}